:root {
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);

  /* Social media */
  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram: linear-gradient(225deg, #df4896 0%, #ee877e 50.91%, #fdc366 100%);
  --youtube: hsl(348, 97%, 39%);

  /* Dark Theme specific */
  --background: hsl(230, 17%, 14%);
  --top-bg-pattern: hsl(230, 20%, 15%);
  --card-background: hsl(228, 28%, 20%);
  --card-background-hover: hsl(228, 25%, 27%);
  --text-dark: hsl(228, 34%, 66%);
  --text: hsl(0, 0%, 100%);
  --border-color: hsl(228, 25%, 27%);
  --switch-background: linear-gradient(225deg, #40db82 0%, #388fe7 98.02%);
}

.light {
  --background: hsl(0, 0%, 100%);
  --top-bg-pattern: hsl(225, 100%, 98%);
  --card-background: hsl(227, 47%, 96%);
  --card-background-hover: hsl(228, 33%, 91%);
  --text-dark: hsl(228, 12%, 44%);
  --text: hsl(230, 17%, 14%);
  --border-color: hsl(230, 19%, 60%);
  --switch-background: hsl(230, 22%, 74%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background 0.2s;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background);
  color: var(--text);
  position: relative;
}

body::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 235px;
  background-color: var(--top-bg-pattern);
  border-radius: 0px 0px 20px 20px;
}

img {
  display: block;
  max-width: 100%;
}

/* Utility classes */

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.up {
  color: var(--lime-green);
}

.down {
  color: var(--bright-red);
}

.card-large.facebook::before {
  background: var(--facebook);
}

.card-large.twitter::before {
  background: var(--twitter);
}

.card-large.instagram::before {
  background: var(--instagram);
}

.card-large.youtube::before {
  background: var(--youtube);
}

/* Header */

.header {
  padding: 2.25rem 1.5rem 0;
  color: var(--text-dark);
  font-size: 0.875rem;
  line-height: 1.0625rem;
  font-weight: 700;
}

.header-top {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--border-color);
}

.header-title {
  color: var(--text);
  font-size: 1.5rem;
  line-height: 1.8125rem;
}

.header-text {
  margin-top: 0.25rem;
}

.header-bottom {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  inset: 0;
  cursor: pointer;
  background: var(--switch-background);
  border-radius: 12px;
}

.slider::before {
  position: absolute;
  content: '';
  top: 3px;
  left: 3px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--card-background);
  transition: transform 0.2s;
}

.switch input:checked + .slider::before {
  transform: translateX(23px);
}

/* Main */

.main {
  padding: 0 1.5rem;
  margin-top: 2.5rem;
  margin-bottom: 2.8125rem;
}

.cards {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
}

.overview .cards {
  gap: 1rem;
}

.card {
  background-color: var(--card-background);
  border-radius: 5px;
  cursor: pointer;
}

.card:hover {
  background-color: var(--card-background-hover);
}

.card-large {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  overflow: hidden;
}

.card-large::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
}

.card-top,
.card-bottom {
  display: flex;
  align-items: center;
}

.card-username {
  margin-left: 0.5rem;
  color: var(--text-dark);
  font-weight: 700;
}

.card-main {
  margin-top: 1.75rem;
}

.card-main-value {
  font-size: 3.5rem;
  line-height: 3rem;
  font-weight: 700;
  letter-spacing: -2px;
}

.card-main-text {
  margin-top: 0.5625rem;
  letter-spacing: 5px;
  color: var(--text-dark);
  text-transform: uppercase;
}

.card-bottom {
  margin-top: 1.5625rem;
}

.card-bottom-text {
  margin-left: 0.25rem;
  font-weight: 700;
}

.overview {
  margin-top: 2.875rem;
}

.overview-title {
  font-size: 1.5rem;
  line-height: 1.8125rem;
  margin-bottom: 1.75rem;
}

.overview-card {
  padding: 1.625rem 1.9375rem 1.1875rem 1.5rem;
  font-weight: 700;
}

.overview-card-top,
.overview-card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overview-card-top h3 {
  color: var(--text-dark);
  font-size: 0.875rem;
  line-height: 1.0625rem;
}

.overview-card-bottom {
  margin-top: 1.3125rem;
}

.overview-card-bottom .card-bottom {
  margin: 0;
  align-self: flex-end;
  margin-bottom: 0.25rem;
}

.overview-card-bottom-value {
  font-size: 2rem;
  line-height: 2.4375rem;
  color: var(--text);
}

.overview-card-bottom-text {
  font-size: 0.75rem;
  line-height: 0.9375rem;
}

@media (min-width: 768px) {
  body::before {
    height: 244px;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
  }

  .header-top {
    padding: 0;
    border: 0;
  }

  .header-title {
    font-size: 1.75rem;
    line-height: 2.125rem;
  }

  .header-bottom {
    padding-top: 0;
    gap: 0.75rem;
  }

  .main {
    margin-top: 2.875rem;
    margin-bottom: 4.6875rem;
  }

  .cards,
  .overview .cards {
    row-gap: 1.5rem;
    column-gap: 1.875rem;
  }

  .overview-title {
    margin-bottom: 1.5rem;
  }
}
